<div>
  <div class="row col-md-12" id="prodlist">
    <div class="col-md-3" ng-repeat="prod in allProds">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" ng-src="{{prod.image}}">
        <div class="card-body">
          <div class="card-text">
              <p>{{prod.name}} -- {{prod.price}}</p>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" ng-click="addItemToCart(prod)">Add</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" ng-click="removeCartItem(prod)">Remove</button>
            </div>
            <small class="text-muted">{{prod.pack}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
